@{
    Layout = "Admin/_AdminLayout";
}

@* @model Photo *@
@model PhotoFormModel

<div class="container py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-9">

            <div>
                <h1 class="text-capitalize pb-5">Pagina creazione nuova foto</h1>
            </div>

            <form asp-controller="Photo" asp-action="Create" enctype="multipart/form-data" method="post">

                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <strong>Titolo:</strong>
                    <input type="text" class="form-control" asp-for="Photo.Title">
                    <span asp-validation-for="Photo.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Descrizione:</strong>
                    <input type="text" class="form-control" asp-for="Photo.Description">
                    <span asp-validation-for="Photo.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Path immagine:</strong>
                    <input type="text" class="form-control" asp-for="Photo.PathImage">
                    <span asp-validation-for="Photo.PathImage" class="text-danger"></span>
                </div>

                @* caricamento file immagine *@
                <div class="mb-3">
                    <strong>File Immagine:</strong>
                    <input type="file" asp-for="ImageFormFile" />
                    <span asp-validation-for="ImageFormFile" class="text-error"></span>
                </div>

                <div class="mb-3">
                    <strong>Seleziona le categorie:</strong>
                    <select asp-for="SelectedCategoriesId"
                            multiple="multiple"
                            size="5"
                            class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                            asp-items="@Model.Categories">
                    </select>
                </div>

                <div class="mb-3">
                    <strong>Seleziona o lascia selezionata la casella per rendere visibile la foto agli utenti: </strong>
                    <input type="checkbox" asp-for="Photo.IsVisible">
                    <span asp-validation-for="Photo.IsVisible" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success">Crea nuova foto</button>

            </form>

        </div>
    </div>
</div>