@{
    Layout = "Admin/_AdminLayout";
}

@model Photo

<div class="container py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-9">

            <div>
                <h1 class="text-capitalize my-3">dettagli foto</h1>
            </div>

            @* immagine *@
            <div>
                <img class="w-100" src="@Model.ImageSrc" />
            </div>

            @* titolo *@
            <div class="py-4">
                <span><strong>Titolo: </strong>@Model.Title</span>
            </div>

            @* descrizione *@
            <div class="pb-2">
                <p><strong>Descrizione: </strong>@Model.Description</p>
            </div>

            @* categorie *@
            <div>
                <strong>Categorie:</strong>

                @if(Model.Categories != null && Model.Categories.Count > 0)
                {
                    <ul>
                        @foreach(Category category in Model.Categories)
                        {
                            <li>@category.Title</li>
                        }
                    </ul>
                }
                else
                {
                    <span>Nessuna categoria associata</span>
                }

            </div>

        </div>
    </div>
</div>